<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
    </div>
  </div>
</div>
<br><br>
<p>--------------------------------------------------------------------------------------------------------------------</p>
<br><br>
<b><p> The following is the solution to the assignment. It demonstrates the creation and
  use of nested components</p></b>
  <ol>
    <li>Sub Component is the main component which nest two other components</li>
    <li>Each nested component is outlined in dotted blue</li>
    <li>Each component (Success and Warning) are highlighted in their color</li>
    <li>Each component is inside of a div</li>
    <li>The respective component has it's own CSS and is styled within that style sheet</li>
    <li>Each div has margin and padding.</li>
  </ol>
<app-sub></app-sub>
